### Librerías

In [1]:
import pandas as pd
import numpy as  np

### Importación de data

In [72]:
df1=pd.read_csv('p_data.csv',sep=';')
df2=pd.read_csv('w_data.csv',sep=';')

### 1) Cuantos ID tienen en común. Nombrar cuales no tienen en común

In [73]:
#Se realiza union tipo Outer entre ambos DF y se agrega un indicador TRUE/FALSE para los ID.
df0=pd.merge(df1, df2, how='outer',on='ID',indicator='True')
df0['True'].value_counts() 
#Observamos que existe un único ID que no tienen en comun y se encuentra en el DF2.

#Filtramos para encontrar el ID que no tienen en común.
df0[df0['True']=='right_only']
#Se observa que el ID 1344995623 no se encuentra en ambos DF.

       Age  Sex          ID  ... Hours per week  Target        True
48842  NaN  NaN  1344995623  ...           60.0   >50K.  right_only

[1 rows x 16 columns]

### 2) Corregir los target a solo dos valores distintos ‘<=50k’ y ‘>50k’

In [74]:
#Se observa que existen 2 rangos unicos de salario pero al estar escritos de diferentes formas no los agrupa.
df0['Target'].value_counts()

 <=50K     24720
 <=50K.    12435
 >50K       7841
 >50K.      3846
Name: Target, dtype: int64

In [75]:
#Eliminamos los espacios vacíos y el caracter "punto" para poder unificar los rangos únicamente en "<=50K" y ">50K"
df0.Target=df0.Target.str.strip(' .')
df_target.value_counts()

Target
<=50K     37155
>50K      11687
dtype: int64

### 3) Calcular la proporción que hay entre personas con salarios >50k respecto del total para Entre personas de distinto sexo, Raza y Educacion. Por ejemplo cuál es el porcentaje de mujeres con un salario mayor a 50K y compararlo con el de los hombres. Lo mismo para personas de distintas razas y Educación

In [76]:
#Creamos un DF nuevo teniendo como base el original y contemplamos que solo incluya salarios superiores a 50K.
df_target_high=df0.loc[df0.Target=='>50K']
df_target_high.Target.value_counts()

>50K    11687
Name: Target, dtype: int64

In [77]:
#Calculamos la proporción de salarios mayor a 50K por SEXO.
df_target_high.Sex.value_counts() / len(df_target_high) *100

 Male      84.854967
 Female    15.136476
Name: Sex, dtype: float64

In [78]:
#Calculamos la proporción de salarios mayor a 50K por Raza.
df_target_high.Race.value_counts() / len(df_target_high) *100

 White                 90.750406
 Black                  4.842988
 Asian-Pac-Islander     3.499615
 Amer-Indian-Eskimo     0.470608
 Other                  0.427826
Name: Race, dtype: float64

In [79]:
#Calculamos la proporción de salarios mayor a 50K por Educación.
df_target_high.Education.value_counts() / len(df_target_high) *100

 Bachelors       28.339180
 HS-grad         21.416959
 Some-college    17.652092
 Masters         12.483957
 Prof-school      5.279370
 Assoc-voc        4.466501
 Doctorate        3.687858
 Assoc-acdm       3.533841
 11th             0.787199
 10th             0.744417
 7th-8th          0.530504
 12th             0.410713
 9th              0.350817
 5th-6th          0.231026
 1st-4th          0.068452
 Preschool        0.008557
Name: Education, dtype: float64